body{
	margin:0px;
	padding:20px;
}

.container{
	border:#999 1px solid;
	padding: 20px;
	background: #eee
}
.leftbox{
	float:left;
	width:160px;
	padding: 20px;
	border:#999 1px solid;
}
.teamname{
	float:right;
	width:40px;
}
.rightbox{
	float: right;
	border: #999 1px solid;
	width:80px;
	padding: 20px;
}
.img1,.img2{
	margin-bottom: 20px;
}
.introduction{
	border:#999 1px solid;
	position: relative;
	padding: 20px;
	margin-left:220px;
	margin-right:140px; 
}
.clear {
	clear:both; 
	height:0; 
	line-height:0; 
	font-size:0;
}
